@font-face {
    font-family: 'Alegreya';
	src: url("AlegreyaSans-Black.ttf");
}
body {
background-color: blue;
    font-family:'Alegreya';
    font-size:30;
    color: black;
    padding-left:20px; 
}
    
li{
	list-style:none;
}
