@font-face {
    font-family: 'Georgia';
	src: url("Georgia.ttf");
}
body {
background-color: lightblue;
    font-family:'Georgia';
    font-size:30;
    color: black;
    padding-left:20px; 
}
    
li{
	list-style:none;
}
